<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Learning Vuejs 2</title>
    <!---------- start link  ---------->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="css/fontiran.css">
    <link rel="stylesheet" href="css/style.css">
    <!---------- end link  ---------->

</head>

<body>
    <!---------- start todo  ---------->
    <div id="app" class="container">
        <div class="row">
            <div class="col-lg-12">

                <h2>لیست کارهای روزانه شما</h2>
                <todos :todos="todos"></todos>
                <input type="text" class="form-control" v-model="newTodo.title" placeholder="کار جدید" v-on:keyup.enter="addTodo">
                <alert style="margin-top:20px" :title="alert.title" :message="alert.message" :type="alert.type" v-show="alert.show" @close="alert.show = false"></alert>

                <div v-if="showCompleteBox">
                    <hr>
                    <h2>کارهای انجام شده</h2>
                    <ul class="list-group">
                        <li class="list-group-item" v-for="(todo , index) in completeTodos">{{ todo.title }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!---------- start todo  ---------->


    <!---------- start input text  ---------->
    <div id="app1">
        <h3>type please</h3>
        <input type="text" v-model="message">
        <p>{{ message }}</p>
    </div>

    <!---------- end input text  ---------->


    <!---------- start jumbotron bootstrap  ---------->

    <body>
        <div id="app3" class="container">
            <div class="row">
                <div class="col-lg-12">
                    <jumbotron>
                        <h1 slot="title">سلام دنیا!</h1>
                        لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده
                        می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه
                        بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است.
                    </jumbotron>
                    <jumbotron>
                        <h1 slot="title">سلام دنیا!</h1>
                        لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده
                        می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه
                        بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است.
                    </jumbotron>

                </div>
            </div>
        </div>


        <!---------- end jumbotron bootstrap  ---------->



        <!---------- start image vue ---------->

        <div id="app4" class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img v-bind:src="imageUrl" v-bind:alt="altImage" v-bind:style="style">
                </div>
            </div>
        </div>

        <!---------- end show image vue ---------->


        <!---------- start show button ---------->

        <div id="my-button" class="container">
            <div class="row">
                <div class="col-lg-12" style="text-align: center;">
                    <my-butoon></my-butoon>
                    <my-butoon></my-butoon>
                    <my-butoon></my-butoon>
                    <my-butoon></my-butoon>
                </div>

            </div>
        </div>


        <!---------- start click conter ---------->

        <div id="click-shomar" class="container" style="margin-bottom: 10rem;text-align: center;margin-top: 7rem;">
            <h1 id="click-shomar" class="container">
                <h1>تعداد کلیک شما {{ counter }} است</h1>
                <button type="button" id="plus" v-on:click="counter++">کلیک</button>
        </div>

        <!---------- end click conter ---------->


        <!---------- start panel ---------->

        <div id="panel" class="container">
            <div class="row">
                <div class="col-lg-12">
                    <panel>
                        <template slot="title">پنل شماره 1</template> لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای
                        پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده
                        می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است.
                    </panel>
                </div>
            </div>
        </div>

        <!---------- end panel ---------->


        <!---------- start show ul ---------->

        <div id="unordere-list">
            <ul class="unli">
                <li v-for="(value , index) in users">{{index}} - {{value}}</li>
            </ul>
        </div>

        <!---------- end show ul ---------->


        <!---------- start alert ---------->

        <div id="msg-alert" class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div style="margin-top: 50px;">
                        <alert title="موفقیت امیز" message="عملیات با موفقیت انجام شد" type="warning"></alert>
                        <alert title="اخطار" message="عملیات با موفقیت انجام نشد" type="success"></alert>
                    </div>
                </div>
            </div>
        </div>

        <!---------- end alert ---------->


        <!---------- start lick js ---------->

        <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script src="js/script.js"></script>

        <!---------- end lick js ---------->

    </body>

</html>